/* Zaplecze */
:root {
	--primary__color: #f8f8f8;
	--secondary__color: #de3232;
	--dark__color: #141414;
	font-family: 'Inter var', 'Inter', sans-serif;
	scroll-behavior: smooth;
}
span.header
{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
 }

@font-face {
	font-family: 'IBM Courier';
	src: url('../fonts/IBM-Courier.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

input[type=text],
input[type=password] {
	font-family: 'IBM Courier';
	font-size:1.5rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::selection {
  background-color: var(--secondary__color);
  color: var(--primary__color);
}

body {
	background: var(--primary__color);
}

a {
	text-decoration: none;
	color: inherit;
	font-weight:600;
}

.hidden {
	display: none;
}

/* Właściwa strona od góry */

/* Nawigacja */

nav {
	position: sticky;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 15px;
	min-height: 80px;
	transition: all 0.2s ease-in-out;
	border-bottom: 2px solid var(--secondary__color);
	background: var(--primary__color);
	z-index:1;
}

nav img,
footer .logo{
	height: 30px;
}

nav.sticky {
	min-height: 60px;
}

nav div a::before {
	content: "";
	position: absolute;
	background-color: var(--secondary__color);
	margin-top: 1.2em;
	width: 0;
	margin-left: 50%;
	height: 2px;
	transition: all 0.3s ease-in-out;
}

nav div a:hover::before {
	width: 100%;
margin-left:0;
}

nav div {
	display: flex;
	flex-basis: 100%;
	justify-content: center;
}

nav div a {
	text-decoration: none;
	margin: 0 20px;
	position: relative;
	font-weight:600;
}
/* Przycisk logowania */

.login {
	text-decoration: none;
	color: var(--primary__color);
	order: 2;
}

.login {
	background-color: var(--secondary__color);
	text-align: center;
	padding: 10px;
	border-radius: 2px;
	color: var(--primary__color);
	transition: all 0.3s ease-in-out;
	font-weight: bold;
	min-width: fit-content;
	border: none;
}

.login:hover {
	cursor: pointer;
	background-color: #225686;
}

.logout {
	display: flex;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	font-size: 2rem;
	border: 0;
	background: none;
	transition: transform .5s ease-in-out;
	color: var(--dark__color);
}

.logout:hover {
	cursor: pointer;
}

.logout:hover > .lock{
	display: block;
}

.logout:hover > .unlock{
	display: none;
}

.logout > .unlock{
	display: block;
}
.logout > .lock{
	display: none;
}

/* Znajdź paczkę */
.find {
	height: 50vh;
	overflow: hidden;
	background-image: url("../img/background.png");
	background-size: cover;
	display:flex;
	justify-content:center;
	align-items:center;
	gap: 5%;
}

.find > img{
height:70%;
}

/*robota Pitka*/
.findbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary__color);
}

.findbox form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
width: fit-content;
  border: 2px solid var(--secondary__color);
}

.findbox form button {
border: none;
background-color: var(--primary__color);
font-size: 2.2rem;
cursor: pointer;
height: 2.5rem;
display: flex;
justify-content: center;
align-items: center;
}

.findbox form input[type="text"] {
  width: 19.2rem;
  text-align: center;
  letter-spacing:-0.1em;
  border: none;
  outline: none;
  height: 2.5rem;
  background-color: var(--primary__color);
}
/*znajdz paczke guzik*/




/*znajdz paczke guzik*/




/*styl dla guzika ktory otwiera sie jak skrzynka*/
.oferty .item button {
	width: 140px;
	min-height: fit-content;
	height: 45px;
	font-size: 20px;
	font-weight: 600;
	transition: background-color .3s;
	background: var(--primary__color);
	border: none;
	color: black;
}

.oferty .item button::before {
	align-items: center;
	display: flex;
	justify-content: center;
	background-color: transparent;
	content: "";
	position: absolute;
	height: 42px;
	margin-left: 0px;
	margin-top: -13px;
	min-width: 135px;
	max-width: 135px;
	text-align: center;
	border: 3px solid var(--secondary__color);
	transition: transform .5s ease;
	transform-origin: left center;
}

.oferty .item button:hover {
	cursor: pointer;
	color: var(--primary__color);
	background-color: #bb2c2c;
	transition: background-color .1s;
}

.oferty .item button:hover::before {
	transform: perspective(560px) rotateY(-87deg) translateX(0px);
	width: 10px;
	content: "";
	height: 42px;
	margin-top: -13px;
	background-color: var(--secondary__color);

}

.oferty .item button::before:hover {
	background-color: var(--primary__color);
}

/*koniec roboty*/
/* Blok główny */


main {
	max-width: 70vw;
	display: flex;
	flex-flow: column;
	margin: 0 auto;
	min-height:70vh;
}

/* Oferta */



.oferty {
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}

.oferty .item {
	font-size: 20px;
	color: var(--dark__color);
}



/* Reklamy */


.reklamy {
	margin: 50px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: var(--dark__color);
}

.reklamy>div {
	min-width: 25%;
	width: 100%;
	min-height: 20vh;
	height: 100%;
	text-align: center;
}

.reklamy>div:nth-child(1) {
	grid-row: 1/-3;
}
.reklamy>div:nth-child(1) img
{
	width: 31vw;
	height: 51vh;

}
.reklamy>div:nth-child(2) img
{
	width: 25vw;
	height: 25vh;
}
.reklamy>div:nth-child(3) img
{
	width: 25vw;
	height: 24vh;
}


/* Stopka */

footer {
	display: flex;
	min-height: 20vh;
	background-color: var(--dark__color);
	padding: 50px;
	justify-content: space-around;
	align-items: center;
	color: var(--primary__color);
	font-size: 22px;
	flex-wrap: wrap;
	margin-top:2em;
}
.copyright{
	flex-basis: 100%;
	text-align:center;
	font-size:0.75em;
}


/* Impostor do góry */

.impostor {
	position: fixed;
	bottom: -110px;
	right: 20px;
	border: none;
	padding-top: 4px;
	visibility: visible;
	transition: all 0.3s ease-in-out;
}

.impostor:hover {
	cursor: pointer;
}

.impostor.active {
	bottom: -10px;
}


.kontakt{
display:flex;
flex-flow:column;
}



/*   */


#cookie-message
{
	position:fixed;
	height: fit-content;
	padding:10px;
	width:100%;
	bottom:0;
	left:0;
	background: var(--secondary__color);
	color:var(--primary__color);
	display:flex;
	align-items:center;
	justify-content:center;
	gap:2em;
}


#cookie-message button
{
	outline:none;
	border:none;
	background-color: var(--primary__color);
	font-weight:600;
	padding:10px;
	color:var(--dark__color);
	border-radius:4px;
  transition: all 0.3s ease-in-out;
}


#cookie-message button:hover{
scale:1.1;
}
